body {
    margin: 0;
    text-align: center;
    position: relative;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    color: #40514E;
}

h1 {
    font-family: 'Sacramento', cursive;
    margin: 50px auto 0 auto;
    font-size: 5rem;
    color: #66BFBF
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-weight: normal;
    font-size: 2rem;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #11999E
}

p {
    line-height: 2;
}

.mobile {
    width: 25%;
    height: 25%;
    float: left;
    margin-right: 30px;
}


/* .mobile-descrp {
    clear: left;
}

.web-descrp {
    clear: right;
} */

.web {
    width: 25%;
    height: 25%;
    float: right;
    margin-left: 30px;
}

#pp {
    height: 200px;
    width: 200px;
    border-radius: 200px;
}

.break {
    border-style: dotted none none none;
    border-color: white;
    border-width: 6px;
    border-color: #EAf6f6;
    width: 5%;
    margin: 100px auto;
}

.contact-descr {
    width: 50%;
    margin: 40px auto 60px;
}

.btn-contact {
    background-color: #11999E;
    color: white;
}

.descr {
    width: 35%;
    margin: auto;
}

#background {
    width: 100%;
    display: inline-block;
}

.middleContainer {
    margin: 100px 0;
}

.bottomContainer {
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

a {
    color: #11999E;
    font-family: "Montserrat", sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAf6f6
}

.copyright {
    color: #EAf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.topContainer {
    padding-top: 100px;
    background-color: #EAf6f6;
    position: relative;
}

.top-cloud {
    position: absolute;
    right: 200px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 150px;
    bottom: 300px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    image-resolution: 25%;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}